<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Dart at Georgia Tech" />
   <link href="" rel="alternate" title="DART Engine" type="application/atom+xml" />

   <link rel="stylesheet" href="http://golems.github.com/dart/css/syntax.css" type="text/css" />

   <link rel="stylesheet" href="http://golems.github.com/dart/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">http://dart.golems.org/</a>
    <a class="extra" href="http://golems.github.com/dart/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p> DART <br /> <a href="mailto:dart@cc.gatech.edu">List</a><br /> </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/golems/">github.com/golems</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="https://github.com/golems/dart/commits/master.atom?login=pushkar3&token=2d9e54561ccae0d0c360c4bc773d6909">
        <img src="http://golems.github.com/dart/images/rss.png" alt="Subscribe to RSS commit Feed" />
      </a>
    </div>
  </div>
</div>

<a href="https://github.com/golems/dart"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>


</body>
</html>
